{% assign page = site.pages | where: "title","Annonces" | first %}

<div class="posts annonce">
    {% assign post = site.posts[0] %}
    <div class="annonce-teaser">
        <span>
          <header>
            <h3 class="annonce">
              <a aria-label="Plus d'annonces" class="post-link" href="{{ page.url | relative_url }}">ANNONCE: 
                {{ post.title }} <i style="font-size: 0.7em">(Cliquez pour voir plus)</i>
              </a>
            </h3>
            {% include post_info.html author=post.author date=post.date %}
          </header>
          {% if site.excerpt or site.theme_settings.excerpt %}
                  {% if site.excerpt == "truncate" %}
                     {{ post.content | strip_html | truncate: '250' | escape }}
                  {% else %}
                     {{ post.excerpt | strip_html | escape }}
                  {% endif %}
          {% endif %}
      </span>
    </div>
</div>

