{% assign item = include.item %}

<div class="enseignement-info">
    <p class="label">Enseignants</p>
    {% include info/authors_info.html item=item %}
</div>
{%- if item.institution -%}
<div class="enseignement-info">
    <p class="label">Institution</p>
    {% include info/institution_nom.html item=item %}
</div>
{%- endif -%}


<div class="enseignement-info">
{%- if item.enseignement -%}
    <p class="label">Enseignement</p>
    {%- for enseignement in site.enseignements -%}
    {%- if enseignement.sigle == page.enseignement -%}
    <p class="souslabel"><a aria-label="{{ enseignement.title }}" href="{{ enseignement.url || relative_url }}">
            {{ enseignement.title }}
        </a></p>
    {%- endif -%}
    {%- endfor -%}
{%- endif -%}
</div>

<div class="enseignement-info">
{% include info/level_info.html item=item %}
</div>


{% include info/competences_detail.html item=item %}
