{% assign item = include.item %}

<div class="support-info">
    <p class="souslabel">{{ item.etudiants }}</p>

    {%- if item.institution -%}
    {% assign inst = site.data.authors | where: "id",item.institution | first %}
    {%- if inst.url -%}<a href="{{ inst.url | relative_url }}" target="_blank">{%- endif -%}
        {% if inst.logo  %}<img src="{{ inst.logo | relative_url }}">{% endif %}
        {%- if inst.url -%}</a>{%- endif -%}
    {%- if item.composante -%}
        <p class="souslabel">{{ item.composante }}</p>
    {%- endif -%}
    {%- endif -%}
</div>


<div class="support-info">
    {%- if item.level -%}
    <p class="label">Niveau</p>
    {% if item.level == 1 %}
    <p class="souslabel">Licence/Bachelor</p>
    {% endif %}
    {% if item.level == 2 %}
    <p class="souslabel">Master/Maîtrise</p>
    {% endif %}
    {% if item.level == 3 %}
    <p class="souslabel">Doctorat</p>
    {% endif %}
    {%- endif -%}

    {%- if item.ihm or item.ia or item.gl or item.user or item.io or item.techo -%}
    <p class="label" style="padding-left: 1.7em">Domaines de compétence visés</p>
    {%- if item.ihm -%}<p class="souslabel"><span class="infobulle" aria-label="Intéractions Homme-Machine">IHM</span></p>{%- endif -%}
    {%- if item.ia -%}<p class="souslabel"><span class="infobulle" aria-label="Intelligence Artificielle">IA</span></p>{%- endif -%}
    {%- if item.gl -%}<p class="souslabel"><span class="infobulle" aria-label="Génie Logiciel">GL</span></p>{%- endif -%}
    {%- if item.user -%}<p class="souslabel"><span class="infobulle" aria-label="Prise en compte de l'utilisateur">UTILISATEUR</span></p>{%- endif -%}
    {%- if item.io -%}<p class="souslabel"><span class="infobulle" aria-label="Internet des objets">IO</span></p>{%- endif -%}
    {%- if item.techno -%}<p class="souslabel"><span class="infobulle" aria-label="Techonologies">TECHNO</span></p>{%- endif -%}
    {%- endif -%}
</div>
