{% assign travauxetudiants = site.travauxetudiants | sort: 'date' | reverse %}
{% assign year = 2000 %}

<div class="support">
    {% for item in travauxetudiants %}
    {% assign current_year = item.date | date: "%Y" %}
    {% assign next_year = item.date | date: "%Y" | plus: '1' %}
    {% if year != current_year  %} 
    <h1>{{ current_year }} - {{ next_year }}</h1>
    {% assign year = current_year %}
    {% endif %}
    
    <div class="support-teaser">
        <span>
            <header>
                <h1><a href="{{ item.url | relative_url }}">{{ item.title }}</a></h1>
                {%- include travauxetudiants_info.html item = item -%}
            </header>
        </span>
    </div>
    {% endfor %}
</div>

{% include blog_nav.html %}