{% assign item = include.item %}

<div class="enseignement-info">
    <p class="label">Type <b>Travail étudiant</b></p>
</div>

<div class="enseignement-info">
    <p class="label">Etudiants</p>
    <p class="souslabel">{{ item.etudiants }}</p>
</div>


{%- if item.institution -%}
<div class="enseignement-info">
    <p class="label">Institution</p>
    {% include info/institution_logo.html item=item %}
</div>
{%- endif -%}


{%- if item.sujet -%}
<div class="enseignement-info">
    <p class="label">Sujet de projet</p>
    {%- for sujet in site.supportscours -%}
    {%- if sujet.title == page.sujet -%}
    <p class="souslabel"><a aria-label="{{ sujet.title }}" href="{{ sujet.url || relative_url }}">
            {{ sujet.title }}
        </a></p>
    {%- endif -%}
    {%- endfor -%}
</div>
{%- endif -%}


{%- if item.level -%}
<div class="enseignement-info">
    {% include info/level_info.html item=item %}
</div>
{%- endif -%}


{% include info/competences_detail.html item=item %}
