.enseignement {
    .enseignement-teaser {
        width: 100%;
        margin-bottom: 0;
        display: inline-block;
        background-size: $feature-image-size;
        border: 1px solid $border-color;

        p a {
            @extend .body-link;
        }

        .enseignement-img {
            vertical-align: middle;
            border-radius: 10px;
            overflow: hidden;

            @media (min-width: $break) {
                height: 250px;
                width: 250px;
            }

            //Smaller screen
            @media screen and (max-width: $break) {
                height: 150px;
                width: 150px;
            }

            img {
                width: 100%;
                padding: 0;
                vertical-align: middle;
            }

        }

        .enseignement-img img {
            -moz-transition-timing-function: ease-out;
            -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;

            -moz-transition: all 2s;
            -webkit-transition: all 2s;
            transition: all 2s;

            &:hover {
                -moz-transform: scale(1.1);
                -webkit-transform: scale(1.1);
                transform: scale(1.1);
            }
        }
    }

    .excerpt {
        margin-top: 1em;
    }
}

header {

    h1,
    h2,
    h3 {
        margin: 0;
        padding-bottom: 0.5em;
        text-align: left;
    }

    h1 {
        font-size: 2em;
    }
}

/* --- Post info --- */
.enseignement-info {
    border-radius: 1em;
    display: flex;
    padding-bottom: 0.5em;

    a {
        display: flex;
        align-items: center;
    }

    img {
        border-radius: 1em;
        padding: 0px;
        width: 1.6em;
        height: 1.6em;
        margin-right: 0.5em;
    }

    .niveau {
        border-radius: 0em;
        padding: 0px;
        width: 3.5em;
        margin-right: 0.5em;
    }

    .etoiles {
        border-radius: 0em;
        padding: 0px;
        width: 6em;
        height: 100%;
        margin-right: 0.5em;
    }
}

/* --- Feature image --- */
.feature-image {
    padding: 0;

    .enseignement-link {
        color: $feature-image-text-color;
    }

    .enseignement-content {
        @extend %padding-post;
        padding-bottom: 0;
    }

}


.label {
    color: $text-color;
    letter-spacing: 0.1em;
    margin: 0;
    text-transform: uppercase;
    margin-right: 0.5em;
}

.souslabel {
    color: $text-color;
    font-size: 0.9em;
    margin: 0;
    margin-right: 0.5em;
}






/* --- Supports de cours --- */

.support {
    padding: 1em;

    .support-teaser {
        width: 100%;
        margin-bottom: 0;
        display: inline-block;
        background-size: $feature-image-size;
        border: 1px solid $border-color;

        p a {
            @extend .body-link;
        }

        .support-img {
            vertical-align: middle;
            border-radius: 10px;
            overflow: hidden;

            @media (min-width: $break) {
                height: 250px;
                width: 250px;
            }

            //Smaller screen
            @media screen and (max-width: $break) {
                height: 150px;
                width: 150px;
            }

            img {
                width: 100%;
                padding: 0;
                vertical-align: middle;
            }

        }

        .support-img img {
            -moz-transition-timing-function: ease-out;
            -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;

            -moz-transition: all 2s;
            -webkit-transition: all 2s;
            transition: all 2s;

            &:hover {
                -moz-transform: scale(1.1);
                -webkit-transform: scale(1.1);
                transform: scale(1.1);
            }
        }
    }

    header {
        padding: 1em;

        h1,
        h2,
        h3 {
            margin: 0;
            padding-bottom: 0.1em;
            text-align: left;
        }

        h1 {
            font-size: 1.3em;
        }
    }
}

.support-info {
    border-radius: 1em;
    display: flex;
    padding-bottom: 0.2em;

    a {
        display: flex;
        align-items: center;
    }

    img {
        border-radius: 1em;
        padding: 0px;
        width: 1.4em;
        height: 1.4em;
        margin-right: 0.5em;
    }

    .niveau {
        border-radius: 0em;
        padding: 0px;
        width: 3em;
        height: 1em;
        margin-right: 0.5em;
    }

    .etoiles {
        border-radius: 0em;
        padding: 0px;
        width: 6em;
        height: 100%;
        margin-right: 0.5em;
    }

    .label {
        font-size: 0.9em;
        letter-spacing: 0.05em;
        text-transform: none;
        font-weight: bold;
    }
}

.infobulle {
    position: relative;
    cursor: help;
}

.infobulle:hover::after,
.infobulle:focus::after {
    content: attr(aria-label);
    /* on affiche aria-label */
    position: absolute;
    top: 1em;
    left: 50%;
    transform: translateX(-10%);
    /* on centre horizontalement  */
    z-index: 1;
    /* pour s'afficher au dessus des éléments en position relative */
    white-space: nowrap;
    /* on interdit le retour à la ligne */
}

.bouton {
	border-radius:12px 0 12px 0;
	background: #f5f5f5;
	border:none;
	color:#555;
	padding:6px 8px 6px 8px;
    margin: 0 10px 0 10px;
	box-shadow:1px 1px 3px #999;
    font-weight: bold;
}

.outer-div {
    text-align: center;
}

.inner-div {
    display: inline-block;
    margin-bottom: 1em;
    
}

p.heading {
    margin-bottom: 0.2em;
    a {
        font-size: 1.3em;
        color: $text-color;
    }
}

h1.materiels {
    color: $meta;
    letter-spacing: 0.1em;
    border-top: 1px solid rgba(0,0,0,0.1);
    margin-top: 1.5em;
}

.recherche {
    color: $meta;
}

.timeline {
    .timeline-header {
        padding: 0;
        color: $brand-color;
        width: auto;
        background-color: $meta;
        border-radius:12px 0 12px 0;
        margin-top: 0.5em;
    }
}

select {
    color: #555; 
	background: #f5f5f5;
	border:none;
	box-shadow:1px 1px 3px #999;
    border-radius: 0.1em;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
}

.btn-save {
    color: #444; 
	background: #f5f5f5;
	border:none;
	box-shadow:1px 1px 3px #999;
    border-radius: 0.1em;
    padding: 0.1em 0.3em 0.1em 0.3em; 
}