img.member-photo { 
    width:20em; 
    height:auto; 
    border-radius: 100%; 
}

img.institution-photo { 
    width:20em; 
    height:auto; 
}

.member-name { 
    font-size: 20px; 
}

.memberbox { 
    border: 0.01em solid $border-color; 
    padding: 0.5em; 
    margin: 0.5em; 
    width: 30%; 
}
