{% assign item=include.item %}

{%- if item.ihm or item.ia or item.gl or item.user or item.io or item.techo -%}
<div class="enseignement-info">
    <p class="label">Domaines de compétence visés</p>
</div>
{%- if item.ihm -%}
<div class="enseignement-info">
    <p class="souslabel">Intéractions Homme-Machine</p>
    <img class="etoiles" src="{{ "assets/img/etoiles/{{ item.ihm }}.jpg" | relative_url }}">
</div>
{%- endif -%}

{%- if item.ia -%}
<div class="enseignement-info">
    <p class="souslabel">Intelligence Artificielle</p>
    <img class="etoiles" src="{{ "assets/img/etoiles/{{ item.ia }}.jpg" | relative_url }}">
</div>
{%- endif -%}

{%- if item.gl -%}
<div class="enseignement-info">
    <p class="souslabel">Génie Logiciel</p>
    <img class="etoiles" src="{{ "assets/img/etoiles/{{ item.gl }}.jpg" | relative_url }}">
</div>
{%- endif -%}

{%- if item.user -%}
<div class="enseignement-info">
    <p class="souslabel">Prise en compte de l'utilisateur</p>
    <img class="etoiles" src="{{ "assets/img/etoiles/{{ item.user }}.jpg" | relative_url }}">
</div>
{%- endif -%}

{%- if item.io -%}
<div class="enseignement-info">
    <p class="souslabel">Internet des objets</p>
    <img class="etoiles" src="{{ "assets/img/etoiles/{{ item.io }}.jpg" | relative_url }}">
</div>
{%- endif -%}

{%- if item.techno -%}
<div class="enseignement-info">
    <p class="souslabel">Techonologies</p>
    <img class="etoiles" src="{{ "assets/img/etoiles/{{ item.techno }}.jpg" | relative_url }}">
</div>
{%- endif -%}

{%- endif -%}
