{% assign item=include.item %}
    
{%- if item.ihm or item.ia or item.gl or item.user or item.io or item.techo -%}
    <p class="label">Domaines de compétence visés</p>
    {%- if item.ihm -%}<p class="souslabel"><span class="infobulle" aria-label="Intéractions Homme-Machine">IHM</span></p>{%- endif -%}
    {%- if item.ia -%}<p class="souslabel"><span class="infobulle" aria-label="Intelligence Artificielle">IA</span></p>{%- endif -%}
    {%- if item.gl -%}<p class="souslabel"><span class="infobulle" aria-label="Génie Logiciel">GL</span></p>{%- endif -%}
    {%- if item.user -%}<p class="souslabel"><span class="infobulle" aria-label="Prise en compte de l'utilisateur">UTILISATEUR</span></p>{%- endif -%}
    {%- if item.io -%}<p class="souslabel"><span class="infobulle" aria-label="Internet des objets">IO</span></p>{%- endif -%}
    {%- if item.techno -%}<p class="souslabel"><span class="infobulle" aria-label="Techonologies">TECHNO</span></p>{%- endif -%}
{% else %}
    <p class="label">Aucun domaine de compétence visé</p>
{%- endif -%}
