---
layout: page
---

<section class="souspartie annonce">
    <div class="fond" style="padding: 2em; text-align: center">
        <img src="{{ "assets/img/icones/letter.png" | relative_url }}" style="height: 10em">
        <h3>Vous souhaitez nous contacter ?</h3>
        <h3>Envoyez un mail à un membre de notre équipe</h3>
        <p><a href="mailto:Anne-Marie.PINNA@univ-cotedazur.fr">Anne-Marie Dery</a> : Anne-Marie.PINNA@univ-cotedazur.fr</p>
        <p><a href="mailto:mosser.sebastien@uqam.ca">Sébastien Mosser</a> : mosser.sebastien@uqam.ca</p>
        <p><a href="mailto:Mireille.BLAY@univ-cotedazur.fr">Mireille Blay-Fornarino</a> : Mireille.BLAY@univ-cotedazur.fr</p>
    </div>
</section>
