---
layout: default
---

<article {% if page.feature-img or page.color %}class="feature-image" {% endif %}>
    
    {% assign enseignements = site.pages | where: "title","Enseignements" | first %}
    <p><a href="{{ enseignements.url | relative_url }}">Enseignements > </a></p>
    
    <header id="main" style="">
        {% unless page.hide_title %}
        <h1 class="title">{{ page.sigle }} - {{ page.title }}</h1>
        {% include enseignement_content.html item=page %}
        <div class="enseignement-info">
            <p class="label"><a href="#materiels">Accéder aux matériels de cours</a></p>
        </div>
        {% endunless %}
    </header>

    {{ content }}

    {% if page.link %}
    <p style="text-align: center"><a target = "_blank" href="{{ page.link }}">Accéder à l'enseignement</a></p>
    {% endif %}


    <h2 id="materiels">Matériels de cours</h2>
    <div class="timeline">
        <header class="timeline-header">
            <span class="tag is-medium is-primary">Start</span>
        </header>

        {% assign supportscours = site.materielsdecours | where: 'enseignement', page.sigle | sort: 'num' %}


        {%- for item2 in supportscours -%}

        {% if item2.type == "projet" %}
        {% assign typeIntitutle = "Sujet de projet" %}
        {% assign type = "is-warning" %}
        {% assign icone = "fa-pencil" %}
        {% endif %}
        {% if item2.type == "eval" %}
        {% assign typeIntitutle = "Évaluation" %}
        {% assign type = "is-danger" %}
        {% assign icone = "fa-graduation-cap" %}
        {% endif %}
        {% if item2.type == "support" %}
        {% assign typeIntitutle = "Support de cours" %}
        {% assign type = "is-primary" %}
        {% assign icone = "fa-book" %}
        {% endif %}

        <div class="timeline-item {{ type }}" style="padding: 0">
            <div class="timeline-marker {{ type }} is-icon"><i class="fa {{ icone }}"></i></div>
            <div class="timeline-content">
                <div class="support-teaser">
                    <p class="heading"><a href="{{ item2.url | relative_url }}">{{ typeIntitutle }} : {{ item2.title }}</a></p>
                    {% include support_info2.html item=item2 %}
                </div>
            </div>
        </div>

        {%- endfor -%}
        <header class="timeline-header">
            <span class="tag is-medium is-primary">End</span>
        </header>
    </div>


</article>