---
layout: default
---

<div class="home">

    <header id="main" class="call-out" style="background-image: url('{{ site.header_feature_image | relative_url }}')">
        <h1 class="title"> {{ site.header_text }} </h1>
    </header>

    <section class="souspartie annonce">
        {% include annonce.html %}
    </section>


    <section class="souspartie">
        <h1>Description du projet</h1>
        
        <p> En considérant le seul problème de la maladie d’Alzheimer, <b>la société Alzheimer Canada recense 564,000 patients diagnostiqués</b> en 2018 et anticipe un doublement de cette population d’ici 15 ans. Connaissant de surcroit la <b>place prépondérante des logiciels</b> dans la vie de tous les jours, nous défendons qu’il est nécessaire de sensibiliser les étudiants à la <b>prise en compte du vieillissement de la population</b>.</p>
        
        <p>Dans ce projet, nous nous proposons d’étudier les spécificités de la prise en compte des utilisateurs finaux dans le développement logiciel des applications dédiées au support des aînés, et de <b>mettre en place des cours de formation interdisciplinaires</b> qui mêlent les différentes compétences impliquées dans le développement de telles applications.</p>

        <p>Ce site web a pour vocation de présenter ce projet ainsi que ses résultats. Il met à disposition tous les enseignements réalisés dans le cadre de ce projet, les matériels de cours et les travaux étudiants.</p>
        


        <p><i>Plus d'informations sur ce projet : <a target = "_blank" href="{{ "assets/documents/2019_champlain_consortium.pdf" | relative_url }}">2019_champlain_consortium</a>, <a target = "_blank" href="{{ "assets/documents/2019_champlain_projet.pdf" | relative_url }}">2019_champlain_projet</a>.</i></p>
    </section>


    <section class="souspartie">
        <h1>Objectifs</h1>

        <div style="padding-bottom: 3em;">
            <img src="{{ "assets/img/icones/objectif1.jpg" | relative_url }}" style="float: right; height: 10em;">
            <h2>Identifier les synergies entre les partenaires</h2>
            <p>vis à vis de leurs expertises en enseignement aux trois cycles de ces thématiques, afin de déterminer les cours et matériels associés adaptés au développement de modules dédiés aux populations vieillissantes.</p>
        </div>

        <div style="padding-bottom: 3em;">
            <img src="{{ "assets/img/icones/objectif2.jpg" | relative_url }}" style="float: left; height: 10em;">
            <h2 style="text-align: right;">Développer une offre de cours commune</h2>
            <p style="text-align: right;">pour permettre au baccalauréat une sensibilisation aux problématiques de développement d’applications pour les aînés, et à la maitrise un cours de spécialité interdisciplinaire dédié.</p>
        </div>

        <div style="padding-bottom: 3em;">
            <img src="{{ "assets/img/icones/objectif3.jpg" | relative_url }}" style="float: right; height: 10em;">
            <h2>Publier une vitrine web</h2>
            <p>du matériel de cours pour permettre la mise à disposition des cours, des bonnes pratiques et des retours d’expérience de mise en oeuvre de ces cours.</p>
        </div>
    </section>


    
    
    {% assign enseignements = site.enseignements %}
    {% assign nbenseignements = enseignements | size %}
    {% assign supports = site.supportscours %}
    {% assign nbsupports = supports | size %}
    {% assign travauxetudiants = site.travauxetudiants %}
    {% assign nbtravaux = travauxetudiants | size %}

    <section class="souspartie">
        <h1>Quelques chiffres</h1>
        
        <ul style="list-style: none">
            <li><h4><i class="fa fa-university"></i> {{ nbenseignements }} enseignements</h4></li>
            <li><h4><i class="fa fa-book"></i> {{ nbsupports }} matériels de cours</h4></li>
            <li><h4><i class="fa fa-edit"></i> {{ nbtravaux }} travaux étudiants</h4></li>
        </ul>

    </section>


    <section class="souspartie">
        <h1>Partenaires</h1>

        {% assign current_team = site.data.authors | where: "position","institution" %}
        {% assign memberindex = 0 %}

        {% assign group = current_team %}
        {% for member in group %}
        {% assign memberindex = memberindex | plus: 1 %}
        {% assign colindex = memberindex | modulo: 4 %}
        {% if colindex == 1 %}
        <!-- opening of a new row -->
        <div class="row">
            {% endif %}
            <div class="col-md-3">
                <div class="media">
                    <a target = "_blank" class="pull-left" href="{{ member.url }}">
                        <img class="media-object partenaireshome" src="{{ member.logo | relative_url }}">
                    </a>
                </div>
            </div>
            {% if colindex == 0 %}
            <!-- closing a row -->
        </div>
        <div class="bigspacer"></div>
        {% endif %}
        {% endfor %}

    </section>

</div>
