---
layout: page
---


<h1>Vous recherchez...</h1>

{% assign enseignement = site.pages | where: "title","Search - Enseignements" | first %}
{% assign materiel = site.pages | where: "title","Search - Matériels" | first %}
{% assign travail = site.pages | where: "title","Search - Travaux" | first %}


<h3><a href="{{ enseignement.url | relative_url }}"><i class="fa fa-university"></i> Un enseignement ? </a></h3>
<h3><a href="{{ materiel.url | relative_url }}"><i class="fa fa-book"></i> Un matériel de cours ? </a></h3>
<h3><a href="{{ travail.url | relative_url }}"><i class="fa fa-edit"></i> Un travail étudiant ? </a></h3>