---
layout: default
---

<article {% if page.feature-img or page.color %}class="feature-image" {% endif %}>
    <header id="main" style="">
        {% unless page.hide_title %}
        <h1 class="title">{{ page.title }}</h1>
        {% include support_content.html item=page %}
        {% endunless %}
    </header>
    
    {{ content }}
    
    
    {% if page.link %}
        <p style="text-align: center"><a href="{{ page.link }}">Lien externe vers le support</a></p>
    {% endif %}
    
    
    {% assign travauxetudiants = site.travauxetudiants | where: 'sujet',page.title | sort: 'date' | reverse %}
    {% assign taille = travauxetudiants | size %}
    
    {% if page.type == "sujet de projet" and taille > 0 %} 
    <h2>Exemples travaux étudiants</h2>
    {%- for item3 in travauxetudiants -%}    
    <span>
        <header>
            <h3>
                <a aria-label="{{ item3.title }}" href="{{ item3.url | relative_url }}">
                    {{ item3.title }}
                </a>
            </h3>
            {%- include travauxetudiants_info.html item = item3 -%}
        </header>
    </span>    {%- endfor -%}
    {%- endif -%}

    <!-- Social media shares -->
    {% include share_buttons.html %}

</article>

<!-- Post navigation -->
{% if site.post_navigation  or site.theme_settings.post_navigation %}
{% include post_nav.html %}
{% endif %}